<html>
    <head>
        <title>Sergs blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Welcome to Serg's Blog</a></h1>
        </div>

        <div>
            <p>published: 08.04.2019, 07:44</p>
            <h2><a href="">Getting Started with Kubernetes</a></h2>
            <p>While the Docker Command Line Interface (CLI) and Docker Compose can deploy and scale containers running on a single machine, Kubernetes is designed to handle multi-container applications deployed across multiple machines or hosts.

Kubernetes is an open-source container orchestration tool for managing containerized applications. A Kubernetes cluster has two key components: Master Nodes and Worker Nodes. A set of Master Nodes act as the control plane that manage the Worker Nodes and deployed applications. The Worker Nodes are the workhorses of a Kubernetes cluster that are responsible for running the containerized applications.

The Master Nodes expose an API through which the command-line tools and rich clients submit a job, which contains the definition of an application. Each application consists of one or more containers, the storage definitions and the internal and external ports through which they are exposed. The control plane running on Master Nodes schedules the containers in one of the Worker Nodes. When an application is scaled, the control plane launches additional containers on any of the available Worker Nodes.

For a detailed introduction to Kubernetes, refer to the tutorial An Introduction to Kubernetes.</p>
        </div>

        <div>
            <p>published: 08.04.2019, 07:44</p>
            <h2><a href="">My working post</a></h2>
            <p>Rendering an attractive and easy-to-use Web form requires more than just HTML - it also requires CSS stylesheets, and if you want to use fancy “Web2.0” widgets, you may also need to include some JavaScript on each page. The exact combination of CSS and JavaScript that is required for any given page will depend upon the widgets that are in use on that page ddd.</p>
        </div>
    </body>
</html>